button {
  font-size: 14px;
  width: 176px;
  height: 44px;
  padding: 0;
  margin: 0;
  border-radius: 30px;
}

.btnPassive {
  background-color: #fc842d;
  color: white;
  border: 2px solid transparent;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
}

.btnPassive:hover,
.btnPassive:focus {
  background-color: transparent;
  color: #fc842d;
  border-color: #fc842d;
}

.btnActive {
  background-color: white;
  color: #fc842d;
  border: 2px solid #fc842d;
}

.btnActive:hover,
.btnActive:focus {
  background-color: #fc842d;
  color: white;
  border: 2px solid transparent;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
}
