.iconMenu {
  stroke: black;
  width: 20px;
  height: 20px;
}

.btn {
  position: absolute;
  background-color: transparent;
  border: 0;
  top: 40px;
  right: 0px;
  transform: translate(-50%, -50%);

  max-width: 25px;
  max-height: 25px;
  margin-right: 18px;
}
@media screen and (min-width: 768px) {
  .btn {
    top: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .iconMenu {
    display: none;
  }

  .btn {
    display: none;
  }
}
