.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:not(:last-child) {
  margin-right: 30px;
}

.wrapperAll {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fc842d;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: white;
  border: 2px solid #fc842d;
}

.vectorSvg {
  width: 15px;
  height: 15px;
  fill: white;
}

.btn:hover > .vectorSvg {
  fill: #fc842d;
}
