@media screen and (max-width: 767px) {
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  .background {
    width: 100vw;
    height: 100vh;

    background-repeat: no-repeat;
    background-size: 740px auto, 291px auto, 740px auto, 553px auto;
    background-position: right -249px bottom -96px, right -26px bottom 279px, right 12px top -97px,
      right -32px bottom -187px;

    background-image: url('../../images/bg-images/tablet/LoginRegistrationPage/tablet-bg-banana.png'),
      url('../../images/bg-images/tablet/LoginRegistrationPage/tablet-bg-strawberry.png'),
      url('../../images/bg-images/tablet/LoginRegistrationPage/tablet-bg-leafs.png'),
      url('../../images/bg-images/tablet/LoginRegistrationPage/tablet-bg-img-grey.png');
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .background {
      background-image: url('../../images/bg-images/tablet/LoginRegistrationPage/tablet-bg-banana@2x.png'),
        url('../../images/bg-images/tablet/LoginRegistrationPage/tablet-bg-strawberry@2x.png'),
        url('../../images/bg-images/tablet/LoginRegistrationPage/tablet-bg-leafs@2x.png'),
        url('../../images/bg-images/tablet/LoginRegistrationPage/tablet-bg-img-grey@2x.png');
    }
  }

  .wrapper {
    padding-top: 191px;
    width: 605px;
  }
}
@media screen and (min-width: 1024px) {
  .background {
    width: 100vw;
    height: 100vh;

    background-repeat: no-repeat;
    background-size: 740px auto;
    background-position: right -235px bottom -27px;

    background-image: url('../../images/bg-images/desktop/DiaryPage/desktop-bg-leafs.png');
    /* linear-gradient(90deg, white 70%, grey); */
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .background {
      background-image: url('../../images/bg-images/desktop/DiaryPage/desktop-bg-leafs@2x.png');
      /* linear-gradient(90deg, white 70%, grey 70%); */
    }
  }

  .wrapper {
    padding-top: 213px;
    width: 382px;
  }
}
