.box {
    width: 100vw;
    height: 100vh;
    background-color: rgba(33, 33, 33, 0.12);
    position:absolute;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
body{
    margin: 0;
}
.modal {
    background-color: white ;
    width: 690px;
    height: 580px;
    position: relative;

}

.svg{
    stroke: black;
    width: 12px;
    height: 12px;
    position: absolute;
}
.closeBtn{
 border: 0;
 background-color: white;
 cursor: pointer;
 width: 13px;
 height: 13px;
 position:absolute;
 right: 34px;
 top: 24px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 100, 100, 0.8);
    z-index: 1200;
  }
  /* .modal {
    max-width: calc(100vw - 200px);
    max-height: calc(100vh - 100px);
    background-color: rgb(63, 32, 32);
  } */