.input {
  width: 240px;
  font: inherit;
  font-size: 14px;
  padding-bottom: 20px;
  color: #212121;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

.input::placeholder {
  font: inherit;
  color: #9b9faa;
}
