.wrapper {
  height: 36px;
}
.label {
  font: inherit;
  color: #9b9faa;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
}
.input {
  width: 100%;
  font: inherit;
  text-align: inherit;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: #212121;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: white;
}
input:-internal-autofill-selected {
  /* background-color: white !important; */
  background-color: internal-light-dark(white);
}

.input::-webkit-search-cancel-button {
  display: none;
}
