/* .section {
  padding-top: 40px;
  height: 1024px;
} */
.title {
  margin-bottom: 60px;
  font-family: GothamPro-Bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.08;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #fc842d;
}

/* @media screen and (min-width: 605px) {
  .section {
    padding-top: 157px;
  }
  .title {
    text-align: left;
  }
}

@media screen and (min-width: 810px) {
  .section {
    padding-top: 95px;
  }
  .title {
    margin-bottom: 71px;
  }
}

@media screen and (min-width: 768px) {
  .background {
    background-image: url('../../images/bg-images/desktop/bg-img.png');
    background-repeat: no-repeat;
    background-size: 553px;
    background-position: 130px 246px;
  }
}
@media screen and (min-width: 1024px) {
} */
/* .section {
  padding-top: 40px;
}
.title {
  margin-bottom: 60px;
  font-family: GothamPro-Bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.08;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;

  color: #fc842d;
}
@media screen and (min-width: 290px) {
}

@media screen and (min-width: 605px) {
  .section {
    padding-top: 91px;
  }
  .title {
    text-align: left;
  }
}

@media screen and (min-width: 810px) {
  .section {
    padding-top: 213px;
  }
  .title {
    margin-bottom: 71px;
  }
} */

/* =================== */

@media screen and (max-width: 767px) {
  .wrapper {
    padding-top: 120px;
    width: 100%;
  }

  .title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding-top: 191px;
    width: 605px;
  }

  .title {
    text-align: left;
  }

  .background {
    width: 100vw;
    height: 100vh;

    background-repeat: no-repeat;
    background-size: 740px auto, 740px auto, 291px auto, 553px auto;
    background-position: right -249px bottom -96px, right 12px top -97px, right -26px bottom 279px,
      right -32px bottom -187px;

    background-image: url('../../images/bg-images/tablet/LoginRegistrationPage/tablet-bg-banana.png'),
      url('../../images/bg-images/tablet/LoginRegistrationPage/tablet-bg-leafs.png'),
      url('../../images/bg-images/tablet/LoginRegistrationPage/tablet-bg-strawberry.png'),
      url('../../images/bg-images/tablet/LoginRegistrationPage/tablet-bg-img-grey.png');
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .background {
      background-image: url('../../images/bg-images/tablet/LoginRegistrationPage/tablet-bg-banana@2x.png'),
        url('../../images/bg-images/tablet/LoginRegistrationPage/tablet-bg-leafs@2x.png'),
        url('../../images/bg-images/tablet/LoginRegistrationPage/tablet-bg-strawberry@2x.png'),
        url('../../images/bg-images/tablet/LoginRegistrationPage/tablet-bg-img-grey@2x.png');
    }
  }
}
@media screen and (min-width: 1024px) {
  .background {
    width: 100vw;
    height: 100vh;

    background-repeat: no-repeat;
    background-size: 773px auto, 756px auto, 286px auto, auto 100vh;
    background-position: right -205px bottom -42px, right 224px top, right 65px bottom 358px,
      right bottom;

    background-image: url('../../images/bg-images/desktop/LoginRegistrationPage/desktop-bg-banana.png'),
      url('../../images/bg-images/desktop/LoginRegistrationPage/desktop-bg-leafs.png'),
      url('../../images/bg-images/desktop/LoginRegistrationPage/desktop-bg-strawberry.png'),
      url('../../images/bg-images/desktop/LoginRegistrationPage/desktop-bg-img-grey.png');
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .background {
      background-image: url('../../images/bg-images/desktop/LoginRegistrationPage/desktop-bg-banana@2x.png'),
        url('../../images/bg-images/desktop/LoginRegistrationPage/desktop-bg-leafs@2x.png'),
        url('../../images/bg-images/desktop/LoginRegistrationPage/desktop-bg-strawberry@2x.png'),
        url('../../images/bg-images/desktop/LoginRegistrationPage/desktop-bg-img-grey@2x.png');
    }
  }

  .wrapper {
    padding-top: 213px;
    width: 382px;
  }
}
