.navAll {
margin: 0;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
border-bottom: 2px solid #e0e0e0;
height: 80px;
}

.navWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userInfoHead {
  position: absolute;
  width: 100%;
  background: #eff1f3;
  height: 40px;
  display: flex;
  margin-top: 122px;
  flex-wrap: nowrap;
  align-items: center;

  justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  .navAll {
    align-items: center;
    }
    .navWrap {
      width: auto;
    }
    .userInfoHead {
      position: relative;
      width: 100%;
      background: none;
      height: 40px;
      display: flex;
      margin-top: 0;
      align-items: center;
    
      justify-content: flex-end;
    }
    
}
@media screen and (min-width: 1200px) {
  .navWrap {
    align-items: baseline;
    width: auto;
  }
  .navAll {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    padding-right: 115px;
    margin-left: 90px;
    margin-top: 82px;
    border: none;
    }
    .navLogo {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
}
