.iconClose {
  stroke: #9b9faa;
  width: 12px;
  height: 12px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  padding: 0;

  /* max-width: 12px;
  max-height: 12px; */
}
