.calorieIntakeWrapper {
  font-weight: 700;
  line-height: 1.2;
}
.calories {
  text-align: center;
  color: #264061;
  font-size: 48px;
  padding-top: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
}

.title {
  font-size: 14px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 22px;
}
.forbiddenProducts {
  margin-bottom: 35px;
}
.forbiddenProductsItem {
  color: #9b9faa;
  font-size: 14px;
  font-weight: 400;
  margin-left: 15px;
}
.forbiddenProductsItem:not(:last-child) {
  margin-bottom: 18px;
}
.btnWrp {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .calories {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .title {
    padding-top: 12px;
  }
}
