.section {
  padding-top: 40px;
}
.title {
  margin-bottom: 60px;
  font-family: GothamPro-Bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.08;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;

  color: #fc842d;
}
@media screen and (min-width: 290px) {
}

@media screen and (min-width: 605px) {
  .section {
    padding-top: 91px;
  }
  .title {
    text-align: left;
  }
}

@media screen and (min-width: 810px) {
  .section {
    padding-top: 213px;
  }
  .title {
    margin-bottom: 71px;
  }
}
