@media screen and (max-width: 767px) {
  .wrapperAll {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .wrapperAll {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 45px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .item:not(:last-child) {
    margin-right: 30px;
  }

  .productName {
    width: 240px;
  }

  .productWeight {
    width: 105px;
    text-align: right;
  }

  .btn {
    margin-left: 48px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapperAll {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .item:not(:last-child) {
    margin-right: 30px;
  }

  .productName {
    width: 240px;
  }

  .productWeight {
    width: 105px;
    text-align: right;
  }
  .btn {
    margin-left: 75px;
  }
}
