.section {
  padding-top: 30px;
}
.title {
  font-size: 18px;
  line-height: 1.44;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
  }
  .title {
    font-size: 30px;
    line-height: 1.21;
  }
}

@media screen and (min-width: 1024px) {
  .section {
    padding-top: 144px;
  }
  .title {
    font-size: 34px;
  }
}
