/* .container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (max-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 90px; 
    padding-right: 90px; 
    width: 635px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding-left: 115px;
    padding-right: 115px;
    width: 840px;
  }
} */
