@import 'modern-normalize/modern-normalize.css';
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}


@font-face {
  font-family: 'Verdana';
  src: url('./fonts/verdana.woff2');
}
@font-face {
  font-family: 'VerdanaBold';
  src: url('./fonts/VerdanaBold.woff2');
}
@font-face {
  font-family: 'GothamPro-Light';
  src: url('./fonts/GothamPro-Light.woff');
}
@font-face {
  font-family: 'GothamPro-Bold';
  src: url('./fonts/GothamPro-Bold.woff');
}

@font-face {
  font-family: 'Verdana';
  src: url('./fonts/verdana.woff2');
}
@font-face {
  font-family: 'VerdanaBold';
  src: url('./fonts/VerdanaBold.woff2');
}
@font-face {
  font-family: 'GothamPro-Light';
  src: url('./fonts/GothamPro-Light.woff');
}
@font-face {
  font-family: 'GothamPro-Bold';
  src: url('./fonts/GothamPro-Bold.woff');
}
button {
  cursor: pointer;
}
