.logoMobile {
  margin-left: 15px;
  cursor: pointer;
  width: 47px;
}
.logoDesctop {
  display: none;
}
.logoText {
  display: none;
}

@media screen and (min-width: 768px) {
  .logoMobile {
    display: block;
    width: 47px;
    height: 44px;
    cursor: pointer;
  }

  .logoText {
    display: inline;
    margin-left: 10px;
    font-family: 'GothamPro-Light';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.14;
    letter-spacing: 0.08em;
    color: #212121;
    border: none;
  }

  .logoTextMom {
    color: #fc842d;
  }
}

@media screen and (min-width: 1200px) {
  .logoDesctop {
    display: block;
    cursor: pointer;
    width: 66px;
  }

  .logoText {
    /* margin-left: 148px;
  margin-top: 125px; */
    font-family: 'GothamPro-Light';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.14;
    letter-spacing: 0.08em;
    color: #212121;
    border-right: 2px solid #e0e0e0;
    padding-right: 22px;
    margin-left: -15px;
  }

  .logoTextMom {
    color: #fc842d;
  }
  .logoMobile {
    display: none;
  }
}
