.logoMobile {
  position: absolute;
  margin-left: 15px;
  margin-top: 18px;
  cursor: pointer;
  width: 47px;
}
.logoDesctop {
  display: none;
}
.logoText {
  display: none;
}

@media screen and (min-width: 768px) {
  .logoMobile {
  position: absolute;
  margin-left: 69px;
  margin-top: 17px;
  width: 47px;
  height: 44px;
  cursor: pointer;
}

.logoText {
  display: inline;
  position: absolute;
  margin-left: 126px;
  margin-top: 30px;
  font-family: "GothamPro-Light";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.14;
  letter-spacing: 0.08em;
  color: #212121;
  border: none;
}

.logoTextMom {
  color: #FC842D;
} 
}

@media screen and (min-width: 1200px){
.logoDesctop {
  display: block;
  position: absolute;
  margin-left: 90px;
  margin-top: 82px;
  cursor: pointer;
  width: 66px;
}

.logoText {
  position: absolute;
  margin-left: 148px;
  margin-top: 125px;
  font-family: "GothamPro-Light";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.14;
  letter-spacing: 0.08em;
  color: #212121;
  border-right:  2px solid #E0E0E0;
  padding-right: 22px;
}

.logoTextMom {
  color: #FC842D;
}
.logoMobile {
  display: none;
}
}